
/*//////////////////////////////////// MAIN BODY FLEX ////////////////////////////////////*/
.main-container{
    display: flex;
    flex-flow: column;
}

.trans-cat-container{
    display: flex;
    flex-direction: row;
}

/*//////////////////////////////////// CATEGORY SECTION ////////////////////////////////////*/

.category-list{
    width: 20%;
    margin: 20px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    
}

.cat-title{
    font-weight: 500;
    color: black;
    border-bottom: 1px dotted black;
}

.cat-row{
    border-bottom: 1px dotted black;
}

.cat-row:hover{
    color: red;
}

/*//////////////////////////////////// CATEGORY FORM ////////////////////////////////////*/

.category-form{
    width:50%;
    align-content: center;
}

.cat-butt{
    width:100%
}

/*//////////////////////////////////// ACCOUNT FORM ////////////////////////////////////*/

.account-form{
    width: 100%;
}


/*//////////////////////////////////// TRANSACTION SECTION ////////////////////////////////////*/

.transaction-list{
    width: 80%;
    margin: 20px;
}

.transaction-header{
    background-color: lightgrey;
}

table, th, td {
    border: 1px dotted black;
  }
/*//////////////////////////////////// TRANSACTION FORM ////////////////////////////////////*/

/*//////////////////////////////////// MISC ////////////////////////////////////*/
